<div class="container">
  <h2 appHandleClick>{{ 'Container component' | uppercase }}</h2>

  <ng-container *ngFor="let payment of payments">
    <app-payment *ngIf="payment.amount > 0"
                 [payment]="payment"
                 (onClick)="handlePaymentClick($event, payment)"></app-payment>
  </ng-container>

  <ng-container *ngFor="let payment of payments">
    <app-payment *ngIf="payment.amount < 0"
                 [payment]="payment"
                 (onClick)="handlePaymentClick($event, payment)"></app-payment>
  </ng-container>

  <hr>

  <app-payment *ngFor="let payment of payments | sortPayments: 'amount'"
               [payment]="payment"
               (onClick)="handlePaymentClick($event, payment)"></app-payment>

  <div appBackgroundColor [backgroundColor]="'#f00'" [textColor]="'#fff'">divContent</div>
</div>
