<form #expenseForm="ngForm" (ngSubmit)="addExpense()">
  <div class="row">
    <div class="col">
      <input
        type="text"
        class="form-control"
        placeholder="Expense name"
        name="name"
        required
        pattern="[a-zA-Z]*"
        [(ngModel)]="expense.name"
        #expenseName="ngModel"
      />
      <div [hidden]="expenseName.valid || expenseName.pristine">
        <div *ngIf="expenseName.errors?.['required']">
          Expense name is required
        </div>
        <div *ngIf="expenseName.errors?.['pattern']">
          Only alphabetical characters
        </div>
      </div>
    </div>
    <div class="col">
      <input
        type="text"
        class="form-control"
        placeholder="Date"
        bsDatepicker
        [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
        name="date"
        required
        [(ngModel)]="expense.date"
        #expenseDate="ngModel"
      />
      <div [hidden]="expenseDate.valid || expenseDate.pristine">
        <div *ngIf="expenseDate.errors?.['required']">
          Expense date is required
        </div>
      </div>
    </div>
    <div class="col">
      <input
        type="text"
        class="form-control"
        placeholder="Amount"
        name="amount"
        required
        [(ngModel)]="expense.amount"
        #expenseAmount="ngModel"
        maxlength="5"
      />
      <div [hidden]="expenseAmount.valid || expenseAmount.pristine">
        <div *ngIf="expenseAmount.errors?.['required']">
          Expense amount is required
        </div>
        <div *ngIf="expenseName.errors?.['maxlength']">
          Please enter no more than 5 numbers
        </div>
      </div>
    </div>
    <div class="col">
      <button class="btn btn-primary" [disabled]="!expenseForm.valid">
        Add
      </button>
      <button class="btn btn-primary" (click)="resetExpense()" type="button">
        Reset
      </button>
    </div>
  </div>
</form>
